body {
	background-color: #000;
	color: #FFF;
}

.home-link {
	color: #FFF;
	text-decoration: none;
        margin: 20px 0;
}

.home-link:hover,
.home-link:focus,
.home-link:active {
	color: #FFF;
	text-decoration: underline;
}
