#home-page-container {
	text-align: center;
}

#home-page-heading {
	margin-top: 60px;
	margin-bottom: 30px;
}

#home-page-proud {
	margin-bottom: 40px;
}

#home-page-links {
	margin-bottom: 40px;
}

#home-page-links .button {

}

#home-page-media {
	margin-bottom: 40px;
}

#home-page-media a {
	text-decoration: none;
	color: #FFF;
	margin: 10px;
}

#home-page-media a:hover{
	opacity: 0.7;
}
